@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll untuk navbar */
html {
  scroll-behavior: smooth;
}

/* global body style */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(
    180deg,
    #1e1b4b 0%,
    #020617 50%,
    #000000 100%
  );
  color: white;
  overflow-x: hidden;
}
