@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll untuk navbar */
html {
  scroll-behavior: smooth;
}

/* global body style */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #020617; /* slate-950 */
  color: white;
}
